.latest {
  width: 80%;
  max-width: 80rem;
  margin: var(--size-8) auto;
  /* margin-right: 0.5%; */
}

.displayProfile {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  /* margin-left: 5px; */
  list-style: none;
  /* margin-right: 0.5%; */
  /* margin-right: 6%; */
  margin: 10px !important;
}

.latest h2 {
  font-size: var(--size-8);
  color: var(--color-grey-800);
  /* text-align: center; */
  width: 50%;
  margin: 4px auto;
}

@media (min-width: 768px) {
  .latest h2 {
    font-size: var(--size-16);
  }
}
