.latest {
  width: 80%;
  max-width: 80rem;
  margin: var(--size-8) auto;
  margin-right: 1.5%;
}

.latest h2 {
  font-size: var(--size-8);
  color: var(--color-grey-800);
  /* text-align: center; */
  width: 50%;
  margin: 4px auto;
}

@media (min-width: 768px) {
  .latest h2 {
    font-size: var(--size-16);
  }
}
