.latest {
  width: 80%;
  max-width: 80rem;
  margin: var(--size-8) auto;
  /* margin-right: 0.5%; */
}

.displayProfile {
  background-color: royalblue !important;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-auto-rows: minmax(90%, auto);
  width: 98% !important;
  max-width: 98rem !important;
  margin: var(--size-2) auto !important;
  grid-column-gap: 1px;
}
.menuProfile {
  grid-column: 1;
  grid-row: 1;
  margin: 0 !important;
  z-index: 3;
  margin-top: 40px !important;
  /* height: auto !important; */
}

.postcontandgridCont {
  grid-column: 1/10;
  grid-row: 1;
  margin: 0 !important;
  background-color: rgb(211, 133, 133) !important;
}
.showmenu {
  z-index: 2;
}
.hidemenu {
  z-index: 3;
}
.postcontandgridCont article {
  width: 100% !important;
  /* margin: var(--size-1) auto !important; */

  margin: 0 !important;
}

.latest h2 {
  font-size: var(--size-8);
  color: var(--color-grey-800);
  /* text-align: center; */
  width: 50%;
  margin: 4px auto;
}

@media (min-width: 768px) {
  .latest h2 {
    font-size: var(--size-16);
  }
}
